.error-box {
  text-align: center;
  margin-top: 80px;
  padding: 25px;
  border-radius: 10px;
  background: #ffe6e6;
  color: #b30000;
  width: fit-content;
  margin-inline: auto;
  animation: shake 0.4s ease;
}

.error-box h2 {
  font-size: 22px;
  font-weight: bold;
}

.error-box p {
  font-size: 16px;
  margin-top: 5px;
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-6px); }
  50% { transform: translateX(6px); }
  75% { transform: translateX(-6px); }
}

.fade-batch > div {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInTwo 0.5s forwards;
}

@keyframes fadeInTwo {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
